.btn-profile {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn-profile:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

.btn-profile__link {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    transition: 0.3s opacity;
  }

.btn-profile__link:hover {
    opacity: 0.7;
  }

.btn-profile__link_color_red {
    color: var(--link-red-color);
  }

.btn-profile__link_color_blue {
    color: var(--secondary-color);
  }

.btn-profile__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    transition: 0.3s opacity;
  }

.btn-profile__btn:hover {
    opacity: 0.7;
  }
