<fieldset class="edit-avatar">
    <input class="edit-avatar__input" type="file" id="input__file" />
    <label class="edit-avatar__label" for="input__file">
        <img class="edit-avatar__img" src="../partials/image/avatar.svg" alt="Аватар по дефолту" />
        <span class="edit-avatar__span">Изменить аватар</span>
    </label>
</fieldset>