:root {
  --ff: 'Inter', 'Arial', sans-serif;
  --primary-color: #1e1e1e;
  --secondary-color: #3369f3;
  --third-color: #fff;
  --gray-color: #999;
  --light-gray-color: #efefef;
  --warning-color: #ff2f2f;
  --line-color: #eaeaea;
  --dark-line-color: #e5e5e5;
  --light-blue-color: #e4edfd;
  --bg-list-color: #fbfbfb;
  --menu-button-color: #f5f5f5;
  --bg-message-my-color: #f8f8f8;
  --bg-message-friend-color: #e4edfd;
  --bg-popup-color: rgba(0, 0, 0, 0.4);
  --bg-time-color: #a9a9a9;
  --overlay-avatar-color: rgba(0, 0, 0, 0.5);
  --link-red-color: #ff0000;
  --shadow: rgba(0, 0, 0, 0.14);
}

