.list-item {
  list-style: none;
  transition: 0.3s background-color;
  text-align: left;
}

.list-item_is-active {
    background-color: var(--light-blue-color);
  }

.list-item:hover {
    cursor: pointer;
    background-color: var(--light-blue-color);
  }

.list-item__container {
    display: flex;
    padding: 12px 0;
    border-top: 1px solid var(--line-color);
    margin: 0 10px;
  }

.list-item__container:last-of-type {
    border-bottom: 1px solid var(--line-color);
  }

.list-item__user-name {
    margin: 0;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 6px;
  }

.list-item__message {
    margin: 0;
    max-width: 193px;
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 15px;
  }

.list-item__message_bold {
    color: var(--primary-color);
    margin-right: 3px;
  }

.list-item__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
  }

.list-item__time {
    margin: 0;
    white-space: nowrap;
    align-self: flex-end;
    font-size: 9px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 13px;
  }

.list-item__count-message {
    display: none;
    margin: 0;
    align-self: flex-end;
    font-size: 11px;
    color: var(--third-color);
    font-weight: 500;
    line-height: 12px;
    padding: 4px 7px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }

.list-item__count-message_is-show {
    display: block;
  }

.list-item__plug-avatar {
    margin-right: 10px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: var(--light-gray-color);
  }
