.chat {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 310px 1fr;
}
.chat__column {
     list-style: none;
     padding: 21px 10px 0;
 }
.chat__link-profile {
     text-decoration: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     transition: 0.3s opacity;
 }

.chat__link-profile:hover {
     opacity: 0.8;
 }

.chat__link-text {
     font-size: 12px;
     color: #999;
     font-weight: 500;
     line-height: 12px;
     margin-right: 8px;
 }

.chat__link-img {
 }
.chat__column_left {
     background-color: #fbfbfb;
     border-right: 1px solid #eaeaea;
 }

.chat__column_is-not-selected {
     display: flex;
     justify-content: center;
     align-items: center;
 }
.chat__title {
     margin: 0;
     font-size: 12px;
     color: #999;
     font-weight: 500;
     line-height: 12px;
 }

.chat__text-date {
     margin: 0;
     font-size: 12px;
     color: #999;
     font-weight: 500;
     line-height: 12px;
     text-align: center;
     margin: 48px 0 30px;
 }

.chat__messages {
     display: flex;
     flex-direction: column;
 }