.chat {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;
}

.chat_is-active {
    background-color: var(--light-blue-color);
  }

.chat__column {
    list-style: none;
  }

.chat__column_left {
    background-color: var(--bg-list-color);
    border-right: 1px solid var(--line-color);
    overflow-y: auto;
    text-align: right;
  }

.chat__column_left::-webkit-scrollbar {
    width: 0;
  }

.chat__column-default {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.chat__column-dialog {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    overflow-y: auto;
  }

.chat__column-dialog::-webkit-scrollbar {
    width: 0;
  }

.chat__column_is-hidden {
    display: none;
  }

.chat__link-profile {
    text-decoration: none;
    display: inline-block;
    transition: 0.3s opacity;
  }

.chat__link-profile:hover {
    opacity: 0.7;
  }
.chat__link-text {
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 12px;
    margin-right: 8px;
  }

.chat__list {
    margin: 0;
    padding: 0;
  }

.chat__title {
    margin: 0;
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 12px;
  }

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-line-color);
    padding-bottom: 10px;
  }

.chat__inner {
    display: flex;
    align-items: center;
  }

.chat__user-name {
    margin: 0;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 13px;
  }

.chat__text-date {
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    margin: 48px 0 30px;
  }

.chat__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }