<ul class="edit-profile">
    {{> btnBackProfile/btnBackProfile href="./profile.hbs"}}
    <li class="edit-profile__column">
        <form class="edit-profile__form">
            {{> editAvatar/editAvatar}}
            <ul class="edit-profile__list">
                {{>input/input type="password" helperText="Введите новый пароль" minlength="4" maxlength="20"}}
                {{>input/input type="password" helperText="Введите новый пароль (ещё раз)" minlength="4" maxlength="20" classes="input_is-auth"}}
                {{>button/button textBtn="Сохранить"}}
                <a class="signup__link" href="./index.hbs">Назад на главную</a>
            </ul>
        </form>
    </li>
</ul>
