<form class="search page__search-chat">
    <label class="search_label">
        <input class="search__input" type="text" placeholder="Поиск" />
        <img class="search_img" src="../partials/image/search.svg" alt="Поиск" />
    </label>
</form>