---
title: Редакция профиля
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../partials/button/button.css
  - ../partials/btnBackProfile/btnBackProfile.css
  - ../partials/btnProfile/btnProfile.css
  - ../partials/editAvatar/editAvatar.css
  - ../partials/changeProfile/changeProfile.css
  - ../partials/popup/popup.css
  - ../partials/uploadFile/uploadFile.css
  - ../partials/inputProfile/inputProfile.css

---
{{!< profile}}

<div class="page">
  {{> changeProfile/changeProfile}}
</div>
