---
title: Мессенджер
css:
- ../vendor/normalize.css
- ../vendor/fonts.css
- ../styles/styles.css
- ../partials/search/search.css
- ../partials/input/input.css
- ../partials/chat/chat.css
- ../partials/button/button.css
- ../partials/message/message.css
- ../partials/writeMessage/writeMessage.css
---
{{!< base}}

<div class="page">
    {{> chat/chat}}
</div>