---
title: Редактировать профиль
css:
- ../vendor/normalize.css
- ../vendor/fonts.css
- ../styles/styles.css
- ../partials/editProfile/editProfile.css
- ../partials/inputProfile/inputProfile.css
- ../partials/input/input.css
- ../partials/btnBackProfile/btnBackProfile.css
- ../partials/btnProfile/btnProfile.css
- ../partials/editAvatar/editAvatar.css
---
{{!< profile}}

<div class="page">
    {{> editProfile/editProfile}}
</div>