---
title: 404 страница
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../partials/error/error.css
---
{{!< base}}

<div class="page">
  {{> error/error title="404" subtitle="Ой, не туда попали"}}
</div>
