---
title: Страница не найдена
css:
- ../vendor/normalize.css
- ../vendor/fonts.css
- ../styles/styles.css
- ../partials/error/error.css
---
{{!< base}}

<div class="page">
    {{> error/error title="404" subtitle="Такой страницы не существует"}}
</div>