---
title: Регистрация
css:
  - ../vendor/normalize.css
  - ../variables/variables.css
  - ../vendor/fonts.css
  - ../styles/styles.css
  - ../partials/signup/signup.css
  - ../partials/input/input.css
  - ../partials/button/button.css
---
{{!< signup}}

<div class="page">
  <main class="page__form">
  {{> signup/signup}}
  </main>
</div>

