.burger-menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.3s background-color;
}

.burger-menu_active {
    background-color: var(--menu-button-color);
  }

.burger-menu__btn-icon {
    fill: var(--primary-color);
    transition: 0.3s fill;
  }

.burger-menu:hover {
    background-color: var(--menu-button-color);
  }

.burger-menu_active > .burger-menu__btn-icon {
    fill: var(--secondary-color);
  }

.burger-menu:hover > .burger-menu__btn-icon {
    fill: var(--secondary-color);
  }
