profile-btn {
    list-style: none;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

profile-btn__link {
     box-sizing: border-box;
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #3369f3;
     border: none;
     padding: 0;
     border-radius: 50%;
     min-width: 28px;
     height: 28px;
     transition: 0.3s opacity;
 }

profile-btn__link:hover {
     opacity: 0.8;
 }
