<li class="profile-btn">
    <a href="{{href}}" class="profile-btn__link" type="submit" aria-label="Назад">
        <img
                class="profile__icon"
                src="../partials/image/left-arrow.svg"
                alt="Иконка назад"
        />
    </a>
</li>