<div class="write-message">

    <form class="write-message__form">
        <button class="chat-footer__btn-attach" type="button" aria-label="Добавить файл">
            <img
                    class="write-message__icon-attach"
                    src="../partials/image/attach-btn.svg"
                    alt="Иконка добавить файл"
            />
        </button>

        <input class="write-message__input" type="text" placeholder="Сообщение" />

        <button class="write-message__btn-send" type="submit" aria-label="Отправить сообщение">
            <img
                    class="write-message__icon-send"
                    src="../partials/image/send-btn.svg"
                    alt="Иконка отправить сообщение"
            />
        </button>
    </form>
</div>