.write-message {
    padding-top: 11px;
    border-top: 1px solid #eaeaea;
}
.write-message__form {
     font-family: inherit;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.write-message__input {
     outline: none;
     box-sizing: border-box;
     border-color: transparent;
     border-width: 1px;
     font-size: 12px;
     width: 100%;
     color: #1e1e1e;
     font-weight: 500;
     line-height: 12px;
     padding: 10px 20px;
     background-color: #efefef;
     border-radius: 30px;
     margin: 0 10px;
     transition: 0.3s border-color;
 }

.write-message_input:hover {
     border-color: #999;
 }

.write-message__input:focus {
     border-color: #999;
 }

.write-message__input::placeholder {
     font-size: 12px;
     color: #999;
     font-weight: 500;
     line-height: 12px;
 }

.write-message__btn-attach {
     cursor: pointer;
     background-color: transparent;
     border: none;
     padding: 0;
     width: 32px;
     height: 32px;
     transition: 0.3s opacity;
 }

.write-message__btn-attach:hover {
     opacity: 0.8;
 }

.write-message__btn-send {
     box-sizing: border-box;
     cursor: pointer;
     background-color: #3369f3;
     border: none;
     padding: 0;
     border-radius: 50%;
     min-width: 28px;
     height: 28px;
     transition: 0.3s opacity;
 }

.write-message__btn-send:hover {
     opacity: 0.8;
 }

.write-message__icon-attach {
     width: 32px;
 }

.write-message__icon-send {
 }