<div class="popup {{classesPopup}}">
  <div class="popup__container">
    <h2 class="popup__title">{{title}}</h2>
    <form class="popup__form {{classesForm}}" name="form-change-profile" novalidate>
      {{#if isDefault}}
        {{> input/input type="text" helperText=helperText minlength="5" maxlength="20"}}
        {{> button/button textBtn=textBtn}}
        {{else}}
        {{> uploadFile/uploadFile}}
        {{> button/button textBtn=textBtn}}
      {{/if}}
    </form>
  </div>
</div>
