@import url("vendor/normalize.css");
@import url("vendor/fonts.css");
@import url("variables/variables.css");

body::-webkit-scrollbar {
    width: 6px;
  }

body::-webkit-scrollbar-track {
    background: var(--light-gray-color);
  }

body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 20px;
  }


.page {
  box-sizing: border-box;
  font-family: var(--ff);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  height: 100vh;
}
.page__form {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.page__search-chat {
    margin: 0 10px 14px;
  }

.page__link-profile {
    margin: 21px 10px 23px 0;
  }

